---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { HomeHeader } from '../components/HomeHeader';
import TailwindIndicator from '../components/TailwindIndicator.astro';
import DarkMode from '../layouts/DarkMode.astro';
import '@fontsource/sora';
import Card from '../components/Card.astro';

const projects = [
	{
		name: "Prompt Builder",
		url: "https://github.com/Daniyaalbeg/prompt-builder",
		description: "An open source tool that allows you to manage and generate prompts for image generation.",
		tools: "NextJS, Tailwind, Drizzle, Lucia, Shadcn, Planetscale"
	},
	{
		name: "Ministry of Change",
		url: "https://ministryofchange.org",
		description: "A website for a non-profit organization that I made for my school's community service club.",
		tools: "React, Express, MongoDB, TailwindCSS, Node"
	}
]
---


<!DOCTYPE html>
<html lang="en" class="h-full max-w-7xl mx-auto">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<!-- bg-gradient-to-b from-slate-200 to-slate-300 dark:from-stone-500 dark:to-stone-600 -->
	<body class="h-full bg-slate-300 dark:bg-slate-900 transition-all ease-in-out duration-300">
		<div class="w-full h-20">
			<HomeHeader client:load />
		</div>
		<main class="w-full">
			<section class="w-[calc(100%-2rem)] sm:w-[calc(100%-4rem)] mx-auto bg-gradient-to-br from-slate-200 to-slate-100 shadow-2xl hover:shadow-[hsl(240,50%,60%)] hover:dark:shadow-[hsl(240,50%,40%)] transition-shadow duration-1000 ease-in-out dark:to-blue-600/40 dark:from-blue-950 rounded-lg xl:rounded-2xl p-12 space-y-2 mt-12">
				<h2 class="font-semibold text-xl sm:text-2xl leading-tight dark:text-slate-300 text-slate-700">Welcome to my space on the internet!</h2>
				<h3 class="dark:text-slate-300 text-slate-600">I made this site to showcase my projects and gibber about things I want.</h3>
				<p class="dark:text-slate-300 text-slate-600">I Hope you find some fun here!</p>
			</section>
			<section class="w-[calc(100%-2rem)] sm:w-[calc(100%-4rem)] mx-auto p-4 sm:p-12">
				<h2 class="text-lg sm:text-2xl text-slate-700 dark:text-slate-200 tracking-tight font-bold mb-2 mt-8 sm:mt-0">Projects</h2>
				<h3 class="text-sm sm:text-lg text-slate-600 dark:text-slate-400 mb-8">A list of my complete and incomplete projects.</h3>
				<div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-8">
					{
						projects.map((p) => {
							return <Card name={p.name} url={p.url} description={p.description} tools={p.tools} />
						})
					}
				</div>
			</section>
		</main>
		<!-- <Footer /> -->
		<TailwindIndicator />
		<DarkMode />
	</body>
</html>