---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { HomeHeader } from '../components/HomeHeader';
import DarkMode from './DarkMode.astro';
import BackgroundImage from '../components/BackgroundImage.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en" class="h-full max-w-7xl mx-auto" id="html">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/themes/prism-dark.min.css">
	</head>

	<body class="h-full bg-slate-100 dark:bg-slate-900 overflow-y-scroll overflow-x-hidden">
		<div class="w-full sm:p-0 sm:max-w-[calc(100%-10rem)] mx-auto h-20 mb-12">
			<HomeHeader client:only />
		</div>
		<main class="w-full px-4 sm:px-0">
			<BackgroundImage />
			<article class="prose prose-slate dark:prose-invert mx-auto">
				{heroImage && <img width={720} height={360} src={heroImage} onload="
				this.style.opacity = 1
				" alt="" class="mb-16 opacity-0 transition-opacity duration-200 rounded-lg shadow-sm h-[360px]" />}
				<!-- <h1 class="title">{title}</h1> -->
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<slot />
			</article>
		</main>
		<Footer />
		<DarkMode />
	</body>
</html>
